html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* DARK MODE */
.dark-mode {
    background-color: #121212 !important;
    color: #e5e5e5 !important;
}

    .dark-mode .card {
        background-color: #1e1e1e !important;
        color: #fff !important;
    }

    .dark-mode .table {
        color: #ddd;
    }

    .dark-mode .table-hover tbody tr:hover {
        background-color: #2a2a2a;
    }

    .dark-mode .alert-info {
        background-color: #1e3a5f;
        border-color: #295b8f;
        color: #d9e9f8;
    }

    .dark-mode input,
    .dark-mode select,
    .dark-mode textarea {
        background-color: #222;
        color: #fff;
        border-color: #444;
    }
